In [1]:
import pandas as pd 

etl = pd.read_csv("/Users/bienstocke/Documents/Github/kedro-etl-pipeline/hmda-etl-pipeline/data/2022/institutions/02_data_publication/2023-08-29-2022_panel.txt", header=None, sep="|",
                  na_filter=False)
etl.shape

(4466, 18)

In [2]:
leg = pd.read_csv("/Users/bienstocke/Desktop/2023-08-26-2022_panel.txt", header=None, sep="|", na_filter=False)
leg.shape

(4466, 18)

In [3]:
leg.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,5493009YXZEN8325UC34,2022,7,14,,46-3986756,4877394,"stearns.com,rate.com","HOME MORTGAGE ALLIANCE, LLC",,,-1,,-1,-1,-1,,True
1,B4TYDEB6GKMZO031MB27,2022,9,1,480228,94-1687665,480228,"bankofamerica.com,bankofamerica.com,bofa.com,b...","Bank of America, National Association",NC,Charlotte,1379552,BANA HOLDING CORPORATION,2519525000,-1,1073757,BANK OF AMERICA CORPORATION,True
2,5493000YNV8IX4VD3X12,2022,7,14,1936928,62-0997810,1936928,"claytonhomes.com,vmf.com, claytonhomes.com,VMF...","VANDERBILT MORTGAGE AND FINANCE, INC.",TN,KNOXVILLE,-1,,-1,3,-1,,True
3,549300VZVN841I2ILS84,2022,7,14,4183602,57-1175755,4183602,myccmortgage.com,"CROSSCOUNTRY MORTGAGE, INC.",OH,AKRON,-1,,-1,3,-1,,True
4,549300CB67L6KPJLHE19,2022,7,14,4320902,59-1515932,4320902,triadfs.com,"TRIAD FINANCIAL SERVICES, INC.",FL,JACKSONVILLE,-1,,-1,3,-1,,True

In [4]:
etl.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,5493009YXZEN8325UC34,2022,7,14,,46-3986756,4877394,"stearns.com, rate.com","HOME MORTGAGE ALLIANCE, LLC",,,-1,,-1,-1,-1,,True
1,B4TYDEB6GKMZO031MB27,2022,9,1,480228,94-1687665,480228,"bankofamerica.com, bankofamerica.com, bofa.com...","Bank of America, National Association",NC,Charlotte,1379552,BANA HOLDING CORPORATION,2519525000,-1,1073757,BANK OF AMERICA CORPORATION,True
2,5493000YNV8IX4VD3X12,2022,7,14,1936928,62-0997810,1936928,"claytonhomes.com, vmf.com, claytonhomes.com, V...","VANDERBILT MORTGAGE AND FINANCE, INC.",TN,KNOXVILLE,-1,,-1,3,-1,,True
3,549300VZVN841I2ILS84,2022,7,14,4183602,57-1175755,4183602,myccmortgage.com,"CROSSCOUNTRY MORTGAGE, INC.",OH,AKRON,-1,,-1,3,-1,,True
4,549300CB67L6KPJLHE19,2022,7,14,4320902,59-1515932,4320902,triadfs.com,"TRIAD FINANCIAL SERVICES, INC.",FL,JACKSONVILLE,-1,,-1,3,-1,,True