In [1]:
import pandas as pd
import json

import lar_constraints
import lar_generator
from rules_engine import rules_engine
from test_file_generator import test_data_creator
import utils


import logging
import os


import yaml

from lar_constraints import lar_data_constraints

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

/Users/roellr/.pyenv/versions/3.6.9/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
config_file = 'configurations/clean_file_config.yaml'
bank_config = 'configurations/bank1_config.yaml'
geo_config_file='configurations/geographic_data.yaml'
filepaths_file = 'configurations/test_filepaths.yaml'
lar_schema_file="../schemas/lar_schema.json"
ts_schema_file="../schemas/ts_schema.json"

#load config data
print("start initialization of LAR generator")
with open(config_file, 'r') as f:
	# use safe_load instead load
	lar_file_config_data = yaml.safe_load(f)

with open(filepaths_file, 'r') as f:
	filepaths = yaml.safe_load(f)

#load geographic configuration and census data
print("loading geo data")
with open(geo_config_file, 'r') as f:
	geo_config = yaml.safe_load(f)

with open(bank_config, 'r') as f:
	bank_config_data = yaml.safe_load(f)

DEBUG = False

if not os.path.exists(filepaths["log_filepath"]):
	os.makedirs(filepaths["log_filepath"])

logging.basicConfig(filename=filepaths["log_filepath"]+filepaths['log_filename'], format='%(asctime)s %(message)s', 
					datefmt='%m/%d/%Y %I:%M:%S %p', filemode=filepaths['log_mode'], level=logging.INFO)

geographic_data = pd.read_csv(geo_config['geographic_data_file'], delimiter='|', header=0,
	names=geo_config['file_columns'], dtype=object) #instantiate Census file data as dataframe

#create 11 digit Census Tract codes from 5 digit county and 6 digit tract
geographic_data['county_fips'] = geographic_data.apply(lambda x: str(x.state_code) + str(x.county), axis=1)
geographic_data["tract_fips"] = geographic_data.apply(lambda x: str(x.county_fips) + str(x.tracts), axis=1)

with open(geo_config["zip_code_file"], 'r') as f:
	zip_codes = json.load(f)
zip_codes.append("Exempt")

#convert file_generator.py to this script

#instantiate lar generator to create random LAR and fixed TS data
lar_gen = lar_generator.lar_gen(lar_schema_file=lar_schema_file, ts_schema_file=ts_schema_file)

#instantiate rules engine to check conformity of synthetic data to FIG schema
rules_engine = rules_engine(config_data=lar_file_config_data, state_codes=geo_config["state_codes"], state_codes_rev=geo_config["state_codes_rev"],
	geographic_data=geographic_data, full_lar_file_check=False)

#instantiate constraints logic to force LAR data to conform to FIG schema
lar_constraints = lar_data_constraints(lar_file_config=lar_file_config_data, geographic_data=geographic_data)

#store original row for diff comparison to see what elements are being changed

ts_row = lar_gen.make_ts_row(bank_file_config=bank_config_data) #create TS row, we only need one
ts_df = pd.DataFrame(ts_row, index=[0])
rules_engine.load_ts_data(ts_df) #loading ts_row to rules_engine converts it to a dataframe for value checking
lar_rows = [] #list to hold all OrderedDict LAR records before writing to file

test_file_gen = test_data_creator(ts_schema_file=ts_schema_file, lar_schema_file=lar_schema_file, bank_config_data=bank_config_data,
								state_codes=geo_config["state_codes"], county_df=geographic_data[["county_fips", "small_county"]])

start initialization of LAR generator
loading geo data
start initialization of LAR generator
LAR generator initialization complete
initializing rules engine
loading config files for rules engine
opening json schema files
schema loaded
rules engine finished initializing

In [5]:
rules_engine.split_ts_row(data_file="../edits_files/Bank 0/clean_files/Bank 0_clean_1000000_rows.txt")

(  record_id inst_name calendar_year calendar_quarter      contact_name  \
 0         1    Bank 0          2018                4  Mr. Smug Pockets

     contact_tel      contact_email contact_street_address office_city  \
 0  555-555-5555  pockets@bank1.com  1234 Hocus Potato Way   Tatertown

   office_state office_zip federal_agency lar_entries      tax_id  \
 0           UT      84096              9     1000000  01-0123456

                     lei
 0  FAKE0000FX2LGWOXJ1AA  ,        record_id                   lei  \
 0              2  FAKE0000FX2LGWOXJ1AA
 1              2  FAKE0000FX2LGWOXJ1AA
 2              2  FAKE0000FX2LGWOXJ1AA
 3              2  FAKE0000FX2LGWOXJ1AA
 4              2  FAKE0000FX2LGWOXJ1AA
 ...          ...                   ...
 999995         2  FAKE0000FX2LGWOXJ1AA
 999996         2  FAKE0000FX2LGWOXJ1AA
 999997         2  FAKE0000FX2LGWOXJ1AA
 999998         2  FAKE0000FX2LGWOXJ1AA
 999999         2  FAKE0000FX2LGWOXJ1AA

                                                   uli  app_date loan_type  \
 0       FAKE0000FX2LGWOXJ1AACMTHKCEROKRGTCDL883XGSV84  20180503         1
 1       FAKE0000FX2LGWOXJ1AAGLHBN1IBQ0NAD4BA2PR3WO927        NA         4
 2       FAKE0000FX2LGWOXJ1AARXVT1G2WMSM22LSQMMTVC7M83        NA         4
 3       FAKE0000FX2LGWOXJ1AAWWURAC1GDZUEFADCLN5HDRO72  20180329         1
 4       FAKE0000FX2LGWOXJ1AAX7SWXAG1I83DJGK6RX7HIRH39        NA         1
 ...                                               ...       ...       ...
 999995  FAKE0000FX2LGWOXJ1AALGV94MPI15G7Q5I8K14S60T39        NA         3
 999996  FAKE0000FX2LGWOXJ1AAHBNXUC2YGZ8I8EYA2722G1Q63        NA         2
 999997  FAKE0000FX2LGWOXJ1AA3PE9GUGA2VUYO00SJ1YZP8X25  20180515         4
 999998  FAKE0000FX2LGWOXJ1AAJR5NAKDVNAKMVV1OX8HRFBV39  20180320         2
 999999  FAKE0000FX2LGWOXJ1AADLBPT6BTJCBOAYJ5RY3JRO294        NA         1

        loan_purpose preapproval const_method occ_type loan_amount  \
 0                 5           2            2        3      240190
 1                 5           2            2        1      360474
 2                 4           2            2        1        7970
 3                 4           2            2        1      200905
 4                 5           2            2        2      289037
 ...             ...         ...          ...      ...         ...
 999995            5           2            2        3       39880
 999996           31           2            2        3      305319
 999997            4           2            2        2      222579
 999998            1           2            2        3      125527
 999999           31           2            2        1      149542

        action_taken action_date         street_address       city state  \
 0                 2    20181231  1234 Hocus Potato Way  Tatertown    NJ
 1                 6    20181126  1234 Hocus Potato Way  Tatertown    MO
 2                 6    20180810  1234 Hocus Potato Way  Tatertown    NY
 3                 2    20181228  1234 Hocus Potato Way  Tatertown    CA
 4                 6    20181204                 Exempt     Exempt    SC
 ...             ...         ...                    ...        ...   ...
 999995            6    20180728                 Exempt     Exempt    CA
 999996            6    20180727                 Exempt     Exempt    MN
 999997            2    20180809  1234 Hocus Potato Way  Tatertown    GA
 999998            3    20180805  1234 Hocus Potato Way  Tatertown    PA
 999999            6    20180823  1234 Hocus Potato Way  Tatertown    NH

        zip_code county        tract app_eth_1 app_eth_2 app_eth_3 app_eth_4  \
 0         52321  34041  34041030800         3
 1         36475  29187  29187950800         3
 2         60181  36103  36103110902        11         1        12        14
 3         06129  06081  06081611400         1         2
 4        Exempt  45079  45079002604         1         2
 ...         ...    ...          ...       ...       ...       ...       ...
 999995   Exempt  06065  06065040403         2         1
 999996   Exempt  27037  27037060905         1         2
 999997    98506  13121  13121010510         4
 999998    34472  42041  42041010700         4
 999999    06793  33001  33001965900         2

        app_eth_5                                       app_eth_free  \
 0                 7PTF7VQS32D3YXNO7GA4M337EG3U0W0BM5NF6J7T8IEW00...
 1                 A4WH33RPIDMWVAUF4EGDNKR7BGLG8JOCASIYGW5FN92DB9...
 2             13          SPYNW5Y54YQMA73BS2FFWANHBR48L6LJXOAX9M7ET
 3                                           95HVHTZAQAKXM1MGJRIMX9G
 4                                                         NC0YVNURV
 ...          ...                                                ...
 999995                                                     LMEIY113
 999996                                            C084U5WHQX9LDY14O
 999997                                      OR4B150E80NDAQ33X5ENAX9
 999998                                      1CNRLW0SYG7OW8F7CEPN7V9
 999999                   8HMSI2AD484GDUZM9SJUJUMC5D19OJKRNTP9W268SE

        co_app_eth_1 co_app_eth_2 co_app_eth_3 co_app_eth_4 co_app_eth_5  \
 0                 5
 1                11
 2                 2                        12                        14
 3                 1            2
 4                14                                                  13
 ...             ...          ...          ...          ...          ...
 999995
 999996            5
 999997
 999998           11
 999999            2            1

                                           co_app_eth_free app_eth_basis  \
 0                   NAVIHRI9NTMW7SZ4WQ6FSQKD6GLJ03BRASGXD             3
 1       OIBT6N2NSMQ6YG3G8EIDDITUEC3SU2YIU605SRPMTKT3WI...             3
 2       W794Z4CKJIADCW3UJ0WK632JAZ8490K4YBEBT7XSQAPDHP...             2
 3       7XF89KWT9AZ8JZC3MWC2YJZ0KT4N6WCQJV9S1KF7SHQXRI...             1
 4                                                                     1
 ...                                                   ...           ...
 999995              FXWT88KJ3A0MS5ZMJEHQO7IENXP1F45XW9SEP             1
 999996                                      UPA84AW64UC4D             1
 999997                                        GPD622SQT0U             3
 999998      8GGCV2XBPKH9K5OZY963PM281CSGIII7PUW9KR27IFD6N             3
 999999                                                                2

        co_app_eth_basis app_race_1 app_race_2 app_race_3 app_race_4  \
 0                     4          5          4          3          1
 1                     2          1         44         23          4
 2                     2          1          4         24          3
 3                     1          6
 4                     3          7
 ...                 ...        ...        ...        ...        ...
 999995                3          1          2          3          4
 999996                4          5          4          2          3
 999997                3         25
 999998                2         43
 999999                1          1

        app_race_5                               app_race_native_text  \
 0               2  0A7346QD8G01WICPXOWJQ4OXN95S67L1FL8RE2XOTJI8ZG...
 1              42  FM1TWRE7HB909R8B8XXVSCU8UB1RXZ68DFRZTI03JKFR07...
 2               2                                  KHPVA1XV4BFBC1XHR
 3                                        TOWQ7FZKC55MRRBTG7ONEOSWDM1
 4                          9023EMQ4H7IXB1IK66I1106XOUWHIVFIS3YXHO5H5
 ...           ...                                                ...
 999995          5  JGBS5AMNT018V30Q5ATBMADV37YFRI8PU3XNTGQ0GKOGJ8...
 999996          1  YK3LF7KUUGBLGMWMVKHYGGS38YKFLOMRO98C4P35U97XYC...
 999997             Q1A2EC9WOIS4864UX40MZDTS5FI64XSN2RE6AWP0LPL0ZB...
 999998             L8R8IN1A15BV8MA13BRWIIU1SV4YQ0ERZBIEOG7RP3ZTBH...
 999999             ZNJ3DWE36V0F2H3KXOIWT55S14QY8M2IOX2MGN33D4IC2M...

                                       app_race_asian_text  \
 0       J372EBZ1ROC6JEMDE833BKH95X75XGZPDPW9TGEIXBDOCR...
 1       7796LDNJAZZX0PLZGH1BGFIBZBWI4VNJCB3R1ESN91XQEV9SJ
 2       58Y4WXSULIP3YZKM752R3TDFFAWPCXUYRX50N1EPHS7S07...
 3       I0DXBAK1B3OGZGAHBNPEU3CRIZMGQS8MJ71PQNTGBO5XNZ...
 4                                               QBOD1OWJ5
 ...                                                   ...
 999995  B5VSRXSSB1U53I72ZX8FYWUX4RUG17L6U5RM3NMXT8E4P5...
 999996  6NK1EZDWPALAVMW8IKTFN2KN95EJ5OVDQW8U1XFYXITR8W...
 999997                EY1T5VZZE575CH2EWTE06SK1CGT4WZZT9B5
 999998  WUZNIIOMA2ROPK3KVG5MY76HFUYG3Q8X0E9JPY0JU5USXI...
 999999  W8BTOBMCHGHJJG4XLK65YTA0Q4TEJ5OBUP6SZ6L9EJFTSI...

                                    app_race_islander_text co_app_race_1  \
 0                                        2HBO5J4OABQPEUV9             3
 1       41JMORDOZ9APJHNXNFS5U0B1A0IWU7B0ONHFUL756X4DCZ...             6
 2                                     W4VE1A4U8W700NMKQVO
 3       I9PYRWS735UEH078BJY5U8M6I0CHHR1LNKWVMEWD3HNVOK...             8
 4       2K6LIVJYYM1DOFFTS4WO90JBEUCOXQFZ0FX7WHOMTHTGPJ...
 ...                                                   ...           ...
 999995  UOO52UA73N4UFXWD1UFAEKKVH57WZ0F23M1OPRT4KAMXY1...             1
 999996                     NRQC9WU3U2A5AHIL9MO25D5J0JWZTB
 999997                               F1K1ZFBJUZA8CCP4URAX             1
 999998                             DWUG4645ZTQJ34M3YM2SPE             8
 999999                             D6QHKQ3EWTKQ04FI6BLCNE             8

        co_app_race_2 co_app_race_3 co_app_race_4 co_app_race_5  \
 0
 1
 2                 21            25            42             5
 3
 4                 43            26            24            27
 ...              ...           ...           ...           ...
 999995
 999996                          43
 999997
 999998
 999999

                                   co_app_race_native_text  \
 0       8XECBEANPT0WIFEG0UFASHM9E5VFNCWTI7QSJRJCTD3ESE...
 1       KYQOVBH4DO01KJFBI78YI1GA10A47SDG1WO0MOGWFA73UB...
 2       6I05I49TU7CM6SIOSBWH4M2B9S8KJL0NBVH8RDFS9OF879...
 3                                                     21P
 4       3CBGT5YVDJTDJPF0OKJ17SXF2O1DUE8II8FD5VAXMS0WRK...
 ...                                                   ...
 999995                 RWIG2OG3KTEKWXII7VHMY4ZN90BXSS0NMK
 999996   UFJ1TAG8DR3P590868ENABBKIIAPJKVJJHI6A3OVJ5V9GZ3G
 999997  HAG0K45ZD9E65OL8S2NYND20X3C4Z1FFQQ7HAFKO0L8E3O...
 999998  HYSNRGZ57YNXM9G7395IGSNHHEDX9FENE3VVSOAJ6Q56EN...
 999999                                                H9L

                                    co_app_race_asian_text  \
 0                          7FU8KGE0000F4NQTVRMUZT2WKUK9JN
 1          W03VCB234TF5XDQ9WKI9D1TSJPNL009Z70UF7C5F1CXQ5B
 2       IKRWYJ1HUNCYQOBG5ZUFUIPY39U9TSG28J11TH4HSU14LD...
 3           K0BD1GAPDI2GZ9JRSRXQ0D2EG5JSW5YW03GTR7MFJYF5P
 4
 ...                                                   ...
 999995              GA96OA7WM81GIOVRY8CMZ7DXAV4L6XVIQE25S
 999996  L8Z3WNI8Z384C58UBZ2UOT4UA89HO3IVTMD2EI657C02WA...
 999997  I0QG60LB982U54HI7K37202GWE1XZ9WU129SNMBEVYA0AR...
 999998  HPEYREYW77FO4NVC05YV4WGNOX9JUY1IRT6ARYK1YAI942...
 999999  1OKLNPTHQ2MUCAQ6ID1S97WE6DR5DXR056T97QEZLLS25D...

                                 co_app_race_islander_text app_race_basis  \
 0       P3LZV511EIPQ3C942PAL6OTX6HMHBRT26JVL6K2Q2IICQ0...              1
 1              9WL56GZ7ANLDRS02MB1E57JXC0IR69E5SU9XR3IYP2              2
 2       DLO2U991SOL3VM4XCLDL8MELHJ1G1TI9CHMEI5OJ0A4UFK...              2
 3                       POTJMXSQBM31DRPL2CS46MGJEZ4SAIG4T              3
 4                PATYSGT82I2TP20VGZPCEGG7YQWE8P7WRRMYILWB              3
 ...                                                   ...            ...
 999995                        HJPGO3D3MURIHHTSA47QBF16RSS              1
 999996                                             PJ8TZT              1
 999997                                   5GDCRIYSRF4M5WZ3              2
 999998  PS0PSYPPT50CYGOJVYZF4UB6QSP87WSHMPE5KA3TR88QWT...              2
 999999        1JKDOD6F3XG2BZD4W5QJ7G3RVOOQO1JLROY9QS5YNDR              2

        co_app_race_basis app_sex co_app_sex app_sex_basis co_app_sex_basis  \
 0                      1       1          6             1                3
 1                      3       1          2             2                3
 2                      3       2          3             3                2
 3                      4       2          1             3                3
 4                      3       3          6             3                3
 ...                  ...     ...        ...           ...              ...
 999995                 2       3          5             3                4
 999996                 3       1          6             2                3
 999997                 1       2          1             2                1
 999998                 4       1          1             1                3
 999999                 4       6          6             2                3

        app_age co_app_age income purchaser_type rate_spread hoepa lien  \
 0           92         65     NA              0       79.79     3    2
 1           56         82     NA              2          NA     3    2
 2           73         85    113              0          NA     3    1
 3          105         47     NA              0       99.99     3    2
 4           52         59     NA              0          NA     3    2
 ...        ...        ...    ...            ...         ...   ...  ...
 999995      52         55    242              0          NA     3    1
 999996      18         10     NA              8          NA     3    1
 999997      48         43     NA              0          NA     3    2
 999998       5          2     NA              0          NA     3    2
 999999      52        105     NA              2          NA     1    2

        app_credit_score co_app_credit_score app_score_name app_score_code_8  \
 0                   738                 715              6
 1                  8888                8888              9
 2                  8888                8888              9
 3                   656                 746              2
 4                  8888                8888              9
 ...                 ...                 ...            ...              ...
 999995             8888                8888              9
 999996             8888                8888              9
 999997              746                 818              4
 999998              725                 766              3
 999999             8888                8888              9

        co_app_score_name                                co_app_score_code_8  \
 0                      4
 1                      9
 2                      9
 3                      7
 4                      9
 ...                  ...                                                ...
 999995                 9
 999996                 9
 999997                 8  2DZ0912IX2RE7KIKHKZAV1DKAG7LR3P5SW3CPZPOKTKSMF...
 999998                 7
 999999                 9

        denial_1 denial_2 denial_3 denial_4 denial_code_9 loan_costs  \
 0            10                                                  NA
 1            10                                                  NA
 2            10                                                  NA
 3            10                                                  NA
 4            10                                                  NA
 ...         ...      ...      ...      ...           ...        ...
 999995       10                                                  NA
 999996       10                                                  NA
 999997       10                                                  NA
 999998        2        8        4        1                       NA
 999999       10                                                  NA

        points_fees origination_fee discount_points lender_credits  \
 0               NA              NA              NA             NA
 1               NA              NA              NA             NA
 2               NA              NA              NA             NA
 3               NA              NA              NA             NA
 4               NA              NA              NA             NA
 ...            ...             ...             ...            ...
 999995          NA              NA              NA             NA
 999996          NA              NA              NA             NA
 999997          NA              NA              NA             NA
 999998          NA              NA              NA             NA
 999999          NA              NA              NA             NA

        interest_rate prepayment_penalty dti cltv loan_term intro_rate balloon  \
 0              13.13                 NA  NA   75       215          3    1111
 1               4.04                 NA  NA   NA       248         22    1111
 2                 NA                 NA  NA   NA        NA         12    1111
 3               10.1                 NA  NA    4       124         20    1111
 4              14.14                 NA  NA   NA       129          9       2
 ...              ...                ...  ..  ...       ...        ...     ...
 999995            NA                 NA  NA   NA       346         17       1
 999996         19.19                 NA  NA   NA       147          1    1111
 999997          10.1                 NA  NA   30        NA         13    1111
 999998            NA                 NA  NA  102        NA          6    1111
 999999         22.22                 NA  NA   NA        59         13    1111

        int_only_pmts neg_amort non_amort_features property_value  \
 0               1111      1111               1111         242076
 1               1111      1111               1111         484960
 2               1111      1111               1111             NA
 3               1111      1111               1111         946681
 4                  2         2                  1         485677
 ...              ...       ...                ...            ...
 999995             2         2                  2             NA
 999996          1111      1111               1111         433532
 999997          1111      1111               1111         488743
 999998          1111      1111               1111         161486
 999999          1111      1111               1111         165938

        manufactured_type manufactured_interest total_units affordable_units  \
 0                      3                     5          14                2
 1                      3                     5           5                4
 2                      1                     3          12               NA
 3                      3                     5          13                5
 4                      3                     5          14               11
 ...                  ...                   ...         ...              ...
 999995                 1                     1          13               NA
 999996                 3                     5           6                1
 999997                 3                     5          24                5
 999998                 3                     5          12               12
 999999                 3                     5           1               NA

        app_submission initially_payable mlo_id aus_1 aus_2 aus_3 aus_4 aus_5  \
 0                1111              1111     NA  1111
 1                   3                 3     NA     6
 2                   3                 3     NA     6
 3                   1                 2     NA     6
 4                   3                 3     NA     6
 ...               ...               ...    ...   ...   ...   ...   ...   ...
 999995              3                 3     NA     6
 999996              3                 3     NA     6

In [6]:
res_df = rules_engine.create_edit_report()
res_df.head()

  edit_name row_type          field  fail_count failed_rows
0    s300_1       TS      record_id           0          []
1    s300_2      LAR      record_id           0          []
2      s301       TS            LEI           0          []
3      s302       TS  activity_year           1        [ts]
4      s305      LAR            all           0          []

In [7]:
res_df[res_df.edit_name=="v699"]

    edit_name row_type            field  fail_count failed_rows
209      v699      LAR  AUS and Results           0          []

In [9]:
print(rules_engine.lar_df.columns)

Index(['record_id', 'lei', 'uli', 'app_date', 'loan_type', 'loan_purpose',
       'preapproval', 'const_method', 'occ_type', 'loan_amount',
       ...
       'aus_code_5', 'aus_result_1', 'aus_result_2', 'aus_result_3',
       'aus_result_4', 'aus_result_5', 'aus_code_16', 'reverse_mortgage',
       'open_end_credit', 'business_purpose'],
      dtype='object', length=110)

In [17]:
aus_results = ("1","2","3", "4", "5", "6", "7", "8", "9", "10", 
			"11", "12","13", "14","15", "16")
for index, row in rules_engine.lar_df.iterrows():
    if row["app_sex"] == "6":
        row["app_sex_basis"] = "2"
    if row["co_app_sex"] == "6":
        row["co_app_sex_basis"] = "2"
    if row["aus_1"] == "5":
        if row["aus_result_1"] == "17":
            row["aus_result_1"] == random.choice(aus_results)
    if row["aus_2"] == "5":
        if row["aus_result_2"] == "17":
            row["aus_result_2"] == random.choice(aus_results)
    if row["aus_3"] == "5":
        if row["aus_result_3"] == "17":
            row["aus_result_3"] == random.choice(aus_results)
    if row["aus_4"] == "5":
        if row["aus_result_4"] == "17":
            row["aus_result_4"] == random.choice(aus_results)
    if row["aus_5"] == "5":
        if row["aus_result_5"] == "17":
            row["aus_result_5"] == random.choice(aus_results)

In [18]:
utils.write_file(path="../edits_files/Bank 0/clean_files/", 
                 name="new_bank_0_1m_rows.txt", 
                 ts_input=rules_engine.ts_df, lar_input=rules_engine.lar_df)

In [14]:
for col in rules_engine.lar_df.columns:
    print(col)
print(len(rules_engine.lar_df.columns))

record_id
lei
uli
app_date
loan_type
loan_purpose
preapproval
const_method
occ_type
loan_amount
action_taken
action_date
street_address
city
state
zip_code
county
tract
app_eth_1
app_eth_2
app_eth_3
app_eth_4
app_eth_5
app_eth_free
co_app_eth_1
co_app_eth_2
co_app_eth_3
co_app_eth_4
co_app_eth_5
co_app_eth_free
app_eth_basis
co_app_eth_basis
app_race_1
app_race_2
app_race_3
app_race_4
app_race_5
app_race_native_text
app_race_asian_text
app_race_islander_text
co_app_race_1
co_app_race_2
co_app_race_3
co_app_race_4
co_app_race_5
co_app_race_native_text
co_app_race_asian_text
co_app_race_islander_text
app_race_basis
co_app_race_basis
app_sex
co_app_sex
app_sex_basis
co_app_sex_basis
app_age
co_app_age
income
purchaser_type
rate_spread
hoepa
lien
app_credit_score
co_app_credit_score
app_score_name
app_score_code_8
co_app_score_name
co_app_score_code_8
denial_1
denial_2
denial_3
denial_4
denial_code_9
loan_costs
points_fees
origination_fee
discount_points
lender_credits
interest_rate
prepayment_penalty
dti
cltv
loan_term
intro_rate
balloon
int_only_pmts
neg_amort
non_amort_features
property_value
manufactured_type
manufactured_interest
total_units
affordable_units
app_submission
initially_payable
mlo_id
aus_1
aus_2
aus_3
aus_4
aus_5
aus_code_5
aus_result_1
aus_result_2
aus_result_3
aus_result_4
aus_result_5
aus_code_16
reverse_mortgage
open_end_credit
business_purpose
110

In [3]:
print(len(rules_engine.svq_edit_functions))
print(len(test_file_gen.test_file_funcs))

288
297

In [ ]:
clean_file_rep = pd.read_csv("../edit_reports/Bank1_clean_file_report.txt", sep="|")
print(len(clean_file_rep.edit_name), "edits checked")
clean_file_rep.head()

In [ ]:
edit_file_rep = pd.read_csv("../edit_reports/Bank1_edit_file_report.txt", sep="|")
print(len(edit_file_rep.edit_name), "test files created")
edit_file_rep.head()

In [ ]:
clean_edit_list = list(clean_file_rep.edit_name.unique())
fail_edit_list = list(edit_file_rep.edit_name.unique())
rules_eng_list = rules_engine.svq_edit_functions


for rule in rules_eng_list:
    if rule not in fail_edit_list:
        print(rule, "not in report")

In [ ]:
for rule in rules_eng_list:
    if rule not in clean_edit_list:
        print(rule, "not in report")

In [ ]:
for rule in test_file_gen.test_file_funcs:
    if rule not in rules_eng_list:
        print(rule, "in test file maker but not rules engine")

In [ ]:
#how many functions in test file creator?

#do these map to rules engine? 
#to edit files


#

In [ ]:
#load 1 million row file
#check for quality edit fails, need 300k
len(test_df)

In [ ]:
rules_engine.split_ts_row(data_file="../edits_files/Bank 0/clean_files/Bank 0_clean_1000000_rows.txt", load=True)

In [ ]:
test_fails = rules_engine.create_edit_report(rules_list=["s", "v", "q"])

In [ ]:
len(test_fails[test_fails.fail_count>0])
test_fails[test_fails.fail_count>0]

In [ ]:
test_fails[test_fails.edit_name.apply(lambda x: x[:1]=="q")]

In [ ]:
test_fails[test_fails.edit_name.apply(lambda x: x[:1]=="m")]

In [ ]:
#load 1m file edit report
rep_df = pd.read_csv("../edit_reports/Bank1_clean_file_report.txt", sep="|")
rep_df.head()

In [ ]:
rep_df[rep_df.fail_count>0]

In [ ]:
"Activity Year|Legal Entity Identifier (LEI)|Agency Code|Institution Type|2017 Institution ID|Tax ID|RSSD|Email Domain|Respondent Name|Respondent State|Respondent City|Parent ID RSSD|Parent Name|Assets|Other Lender Code|Top Holder ID RSSD|Top Holder Name|HMDA Filer Flag".split("|")

In [ ]:
"lei|activityyear|agency|institutiontype|id2017|taxid|rssd|emaildomain|respondentname|respondentstate|respondentcity|parentidrssd|parentname|assets|otherlendercode|topholderidrssd|topholdername|hmdafiler".split("|")